@font-face {
    src: url("CursedTimerUlil-Aznm.ttf");
    font-family: Cursed;
}

* {
    margin: 0;
    padding: 0;
    }

body {
    background-color: #1B244A;
}

.container {
    display: flex;
    justify-content: center;
    gap: 100px;
    color: #eee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold; 
    text-align: center;
    width: 575px;
}

h3 {
    font-size: 40px;
    margin: 68px 0 20px 0;
}

.scoreContainer {
    background-color: #080001;
    width: 155px;
    height: 120px;
    color: #f94f6d;
    display: flex;
    justify-content: center;
    align-items: end;
    font-family: Cursed;
    font-size: 90px;
    border-radius: 5px;
    margin-bottom: 26px;
}

button {
    width: 45px;
    height: 45px;
    background-color: transparent;
    color: #9aabd8;
    border: 2px solid #9aabd8;
    border-radius: 5px;
    font-family: Cursed;
    margin-right: 5px;
}

.plusThreeBtn {
    margin-right: 0;
}